Result Size: 945 x 775
<!DOCTYPE html>
<html>
<title>Stack Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="#" class="w3-bar-item w3-button">Add One Time to Stack</a>
        <a href="#" class="w3-bar-item w3-button">Add Huge list of Items to Stack</a>
        <a href="#" class="w3-bar-item w3-button">Display Stack</a>
        <a href="#" class="w3-bar-item w3-button">Clear Stack</a>
        <a href="#" class="w3-bar-item w3-button">Search Stack</a>
        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to main menu</a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            @*<div class="w3-container">
                <h1>My Page</h1>
            </div>*@
        </div>


        <div class="w3-container">
           <p>Click on the side navigation to find options to manipulate the stack variable</p>
        </div>

    </div>

    <script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
    </script>

</body>
</html>

