<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-container">

        <h2>Hoverable Links</h2>
        <p>When you mouse a button, the background color will change to grey.</p>
        <p>If you want a different hover color, use any of the <strong>w3-hover-color</strong> classes:</p>

        <div class="w3-bar w3-border w3-light-grey">
            <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-hover-green">Stack</a>
            <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button w3-hover-blue">Queue</a>
            <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button w3-hover-teal">Dictionary</a>
            <a href="@Url.Action("Index", "Exit")" class="w3-bar-item w3-button w3-hover-turquoise">Exit</a>
        </div>

    </div>
</body>
